.evokegame-scoreboard {
    display: flex;
    align-items: center;
    min-height: 100px;
}

.evokegame-scoreboard.dashboardnavbar {
    min-height: 60px;
    margin-left: 0.5rem;
}

.evokegame-scoreboard.dashboardnavbar a:hover {
    text-decoration: none;
}

.evokegame-scoreboard.dashboardnavbar a:focus {
    outline: none;
    background-color: initial;
    box-shadow: none;
}

.evokegame-scoreboard .awards,
.evokegame-scoreboard .userinfo {
    flex-direction: row;
}

.evokegame-scoreboard .awards {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 10px;
}

.evokegame-scoreboard.dashboardnavbar .awards {
    background-color: initial;
    border: none;
}

.evokegame-scoreboard .awards .score,
.evokegame-scoreboard .awards .badges {
    flex-direction: row;
}

.evokegame-scoreboard .awards .score {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 6px 20px 8px 8px;
    background: linear-gradient(90deg, rgba(51, 41, 255, 1) 0%, rgba(51, 41, 255, 1) 22%, rgba(0, 240, 166, 1) 100%);
}

.evokegame-scoreboard.dashboardnavbar .awards .score {
    padding: 3px 14px 3px 4px;
}

.evokegame-scoreboard .awards .score .icon,
.evokegame-scoreboard .awards .score .points {
    flex-direction: row;
}

.evokegame-scoreboard .awards .score .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 20px;
}

.evokegame-scoreboard .awards .score .icon .evocoin {
    width: 28px;
}

.evokegame-scoreboard .awards .score .points {
    color: #fff;
    font-family: "Bangers", cursive;
    font-size: 24px;
    padding: 2px;
}

.evokegame-scoreboard .awards .navigation .btn {
    margin-left: 0.5rem;
    border-radius: 40px;
    font-size: calc(0.9271875rem + 0.32625vw);
    padding: 12px;
}

.evokegame-scoreboard.dashboardnavbar .awards .navigation .btn {
    padding: 8px 12px;
    width: 48px;
    height: 48px;
}

.evokegame-scoreboard .awards .navigation .btn .icon {
    font-size: 22px;
    width: 24px;
    height: 24px;
}

.evokegame-scoreboard .awards .badges {
    border-radius: 40px;
    border: 1px solid rgba(0, 240, 166, 1);
    padding: 12px;
    margin-left: 0.5rem;
}

.evokegame-scoreboard.dashboardnavbar .awards .badges {
    padding: 8px;
    border: none;
    background-color: #fff;
}

.path-local-evokegame .evokebadge,
.evokegame-scoreboard .awards .badges .evokebadge {
    width: 32px;
    margin: 0 2px;
}

#page-local-evokegame-profile .evokebadge {
    width: 100px;
}

#page-local-evokegame-profile .evokegame-scoreboard.dashboardnavbar .evokebadge {
    width: 32px;
    border-radius: 50%;
}

.path-local-evokegame .evokebadge.dimmed,
.evokegame-scoreboard .awards .badges .evokebadge.dimmed {
    filter: grayscale(100%) opacity(30%);
}

.evokegame-scoreboard .userinfo {
    margin-left: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 17px 15px 17px 30px;
    position: relative;
}

.evokegame-scoreboard .userinfo .username,
.evokegame-scoreboard .userinfo .userpicture {
    flex-direction: row;
}

.evokegame-scoreboard .userinfo .username {
    font-size: 28px;
    font-family: "Bangers", cursive;
    margin-right: 100px;
}

.evokegame-scoreboard .userinfo .userpicture .img-fluid {
    border-radius: 50%;
    width: 100px;
    position: absolute;
    right: 0;
    top: -12px;
}

.evokegame-scoreboard .awards,
.evokegame-scoreboard .navigation,
.evokegame-scoreboard .userinfo {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: space-between;
    align-content: space-between;
    flex-flow: row wrap; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
}

.path-local-evokegame .table-scoreboard {
    font-family: "Bangers", cursive;
}

.path-local-evokegame .table-scoreboard thead th {
    background-color: #ff0540;
    border-color: #f62657;
    color: #fff;
}

.path-local-evokegame .table-scoreboard thead th a {
    color: #fff;
}

.chooseavatar-form {
    text-align: center;
}

.chooseavatar-form .avatar {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    padding: .25rem;
}

.chooseavatar-form .avatar:hover {
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 4px 4px rgba(255, 5, 64, 0.15);
}

.cursor-pointer {
    cursor: pointer;
}

#superpowerstable .badge-image-column,
#achievementstable .badge-image-column {
    width: 120px;
    text-align: center;
}

.evoke-game-notification-badge-modal .modal-content .modal-header {
    background-color: #ff0540;
}

.evoke-game-notification-badge-modal .modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Bangers", cursive;
}

.evoke-game-notification-badge-modal .modal-content .modal-body {
    text-align: center;
    font-family: "Bangers", cursive;
}

.evoke-game-notification-badge-modal img {
    border-radius: 50%;
    border: 1px solid #d7dfe3;
    padding: 0.25rem;
    width: 142px;
    height: 142px;
}

.evoke-game-notification-badge-modal.achievement-badge .modal-content .modal-header {
    background-color: #140f3f;
}

.evoke-game-notification-badge-modal.achievement-badge .modal-content .modal-header .modal-title {
    color: #00f0a6;
}

.evokegame-profile .userpicture {
    text-align: center;
}

.evokegame-profile .userpicture img {
    max-width: 160px;
    cursor: pointer;
    border-radius: 50%;
}

.evokegame-profile .card {
    border: 1px solid #d7dfe3;
}

.evokegame-profile h3 {
    font-size: 13px;
}

.evokegame-profile .table {
    margin-bottom: 0;
}

.evokegame-profile .badge-image-column img {
    border: 1px solid #d7dfe3;
    border-radius: 50%;
    padding: .25rem;
}

@media (max-width: 991.98px) {
    .evokegame-scoreboard {
        display: flex;
        flex-flow: column wrap;
    }
    .evokegame-scoreboard .awards,
    .evokegame-scoreboard .userinfo {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-content: space-between;
        align-content: space-between;
        flex-flow: row wrap; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
    }

    .evokegame-scoreboard .navigation .btn {
        padding: 12px 14px !important; /* stylelint-disable-line declaration-no-important */
    }

    .evokegame-scoreboard .navigation .btn .icon {
        margin-right: 0;
    }

    .evokegame-scoreboard .navigation .btn .text {
        display: none;
    }

    .evokegame-scoreboard .userinfo {
        flex-direction: row-reverse;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 767px) {
    body.evokegame-navwith-dashboardnavbar #page {
        margin-top: 140px;
    }

    .evokegame-scoreboard.dashboardnavbar {
        position: absolute;
        top: 70px;
        margin-left: 0;
        width: 100%;
        left: 0;
        background: #000;
        background-image: linear-gradient(to right, #000 40%, #140f3f 60%);
    }
}