.evokegame-scoreboard {
    display: flex;
    align-items: center;
    min-height: 100px;
}

.evokegame-scoreboard.dashboardnavbar {
    min-height: 60px;
    margin-left: 0.5rem;
}

.evokegame-scoreboard.dashboardnavbar a:hover {
    text-decoration: none;
}

.evokegame-scoreboard.dashboardnavbar a:focus {
    outline: none;
    background-color: initial;
    box-shadow: none;
}

.evokegame-scoreboard .awards,
.evokegame-scoreboard .userinfo {
    flex-direction: row;
}

.evokegame-scoreboard .awards {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 10px;
}

.evokegame-scoreboard.dashboardnavbar .awards {
    background-color: initial;
    border: none;
}

.evokegame-scoreboard .awards .score,
.evokegame-scoreboard .awards .badges {
    flex-direction: row;
}

.evokegame-scoreboard .awards .score {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 6px 20px 8px 8px;
    background: linear-gradient(90deg, rgba(51, 41, 255, 1) 0%, rgba(51, 41, 255, 1) 22%, rgba(0, 240, 166, 1) 100%);
}

.evokegame-scoreboard.dashboardnavbar .awards .score {
    padding: 3px 14px 3px 4px;
}

.evokegame-scoreboard .awards .score .icon,
.evokegame-scoreboard .awards .score .points {
    flex-direction: row;
}

.evokegame-scoreboard .awards .score .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 20px;
}

.evokegame-scoreboard .awards .score .icon .evocoin {
    width: 28px;
}

.evokegame-scoreboard .awards .score .points {
    color: #fff;
    font-size: 24px;
    padding: 2px;
}

.evokegame-scoreboard .awards .navigation .btn {
    margin-left: 0.5rem;
    border-radius: 40px;
    font-size: calc(0.9271875rem + 0.32625vw);
    padding: 12px;
}

.evokegame-scoreboard.dashboardnavbar .awards .navigation .btn {
    padding: 8px 12px;
    width: 48px;
    height: 48px;
}

.evokegame-scoreboard .awards .navigation .btn .icon {
    font-size: 22px;
    width: 24px;
    height: 24px;
}

.evokegame-scoreboard .awards .badges {
    border-radius: 40px;
    border: 1px solid rgba(0, 240, 166, 1);
    padding: 12px;
    margin-left: 0.5rem;
}

.evokegame-scoreboard.dashboardnavbar .awards .badges {
    padding: 8px;
    border: none;
    background-color: #fff;
}

.path-local-evokegame .evokebadge,
.evokegame-scoreboard .awards .badges .evokebadge {
    width: 32px;
    margin: 0 2px;
}

#page-local-evokegame-profile .evokebadge {
    width: 100px;
}

#page-local-evokegame-profile .evokegame-scoreboard.dashboardnavbar .evokebadge {
    width: 32px;
    border-radius: 50%;
}

.path-local-evokegame .evokebadge.dimmed,
.evokegame-scoreboard .awards .badges .evokebadge.dimmed {
    filter: grayscale(100%) opacity(30%);
}

.evokegame-scoreboard .userinfo {
    margin-left: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #c3c3c3;
    padding: 17px 15px 17px 30px;
    position: relative;
}

.evokegame-scoreboard .userinfo .username,
.evokegame-scoreboard .userinfo .userpicture {
    flex-direction: row;
}

.evokegame-scoreboard .userinfo .username {
    font-size: 28px;
    margin-right: 100px;
}

.evokegame-scoreboard .userinfo .userpicture .img-fluid {
    border-radius: 50%;
    width: 100px;
    position: absolute;
    right: 0;
    top: -12px;
}

.evokegame-scoreboard .awards,
.evokegame-scoreboard .navigation,
.evokegame-scoreboard .userinfo {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: space-between;
    align-content: space-between;
    flex-flow: row wrap; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
}

.path-local-evokegame .table-scoreboard {
}

.path-local-evokegame .table-scoreboard thead th {
    background-color: #ff0540;
    border-color: #f62657;
    color: #fff;
}

.path-local-evokegame .table-scoreboard thead th a {
    color: #fff;
}

.path-local-evokegame .table-scoreboard .width-35 {
    width: 35px;
}
.path-local-evokegame .table-scoreboard .width-100 {
    width: 100px;
}

.path-local-evokegame .text-red {
    color: #f00;
}

.chooseavatar-form {
    text-align: center;
}

.chooseavatar-form .avatar {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    padding: .25rem;
}

.chooseavatar-form .avatar:hover {
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 4px 4px rgba(255, 5, 64, 0.15);
}

.cursor-pointer {
    cursor: pointer;
}

#achievementstable .badge-image-column {
    width: 120px;
    text-align: center;
}

.evoke-game-notification-badge-modal .modal-content .modal-header {
    background-color: #ff0540;
}

.evoke-game-notification-badge-modal .modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 1.3rem;
}

.evoke-game-notification-badge-modal .modal-content .modal-body {
    text-align: center;
}

.evoke-game-notification-badge-modal img {
    border-radius: 50%;
    border: 1px solid #d7dfe3;
    padding: 0.25rem;
    width: 142px;
    height: 142px;
}

.evoke-game-notification-badge-modal.achievement-badge .modal-content .modal-header {
    background-color: #140f3f;
}

.evoke-game-notification-badge-modal.achievement-badge .modal-content .modal-header .modal-title {
    color: #00f0a6;
}

.evokegame-profile .userpicture {
    text-align: center;
}

.evokegame-profile .userpicture img {
    max-width: 160px;
    cursor: pointer;
    border-radius: 50%;
}

.evokegame-profile .card {
    border: 1px solid #d7dfe3;
}

.evokegame-profile h3 {
    font-size: 13px;
}

.evokegame-profile .table {
    margin-bottom: 0;
}

.evokegame-profile .badge-image-column img {
    border: 1px solid #d7dfe3;
    border-radius: 50%;
    padding: .25rem;
}

.evokegame-profile .progress {
    background-color: #f0f0f0;
}

@media (max-width: 991.98px) {
    .evokegame-scoreboard {
        display: flex;
        flex-flow: column wrap;
    }
    .evokegame-scoreboard .awards,
    .evokegame-scoreboard .userinfo {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-content: space-between;
        align-content: space-between;
        flex-flow: row wrap; /* stylelint-disable-line declaration-block-no-shorthand-property-overrides */
    }

    .evokegame-scoreboard .navigation .btn {
        padding: 12px 14px !important; /* stylelint-disable-line declaration-no-important */
    }

    .evokegame-scoreboard .navigation .btn .icon {
        margin-right: 0;
    }

    .evokegame-scoreboard .navigation .btn .text {
        display: none;
    }

    .evokegame-scoreboard .userinfo {
        flex-direction: row-reverse;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 767px) {
    body.evokegame-navwith-dashboardnavbar #page {
        margin-top: 140px;
    }

    .evokegame-scoreboard.dashboardnavbar {
        position: absolute;
        top: 70px;
        margin-left: 0;
        width: 100%;
        left: 0;
        background: #000;
        background-image: linear-gradient(to right, #000 40%, #140f3f 60%);
    }
}

/* Absolute Center Spinner */
#evokegame-fullscreenloading {
    display: none;
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#evokegame-fullscreenloading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
#evokegame-fullscreenloading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#evokegame-fullscreenloading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Toastr CSS */
.toast {
    font-size: .9375rem !important;
}

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #fff;
}
.toast-message a:hover {
    color: #ccc;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.95;
    line-height: 1;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}
.rtl .toast-close-button {
    left: -0.3em;
    float: left;
    right: 0.3em;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    /*overrides*/
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: 0.95;
}
#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
}
#toast-container > div:hover {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer;
}
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.toast {
    background-color: #030303;
}
.toast.toast-success {
    background-color: #51a351 !important;
}
.toast.toast-error {
    background-color: #bd362f !important;
}
.toast.toast-info {
    background-color: #2f96b4 !important;
}
.toast.toast-warning {
    background-color: #f89406 !important;
}
.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: 0.4;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px;
    }
}

#page-local-evokegame-report .bg-1 {
    background-color: #1e88e5;
}

#page-local-evokegame-report .bg-2 {
    background-color: #7460ee;
}

#page-local-evokegame-report .bg-3 {
    background-color: #26c6da;
}

#page-local-evokegame-report .bg-4 {
    background-color: #357a32;
}

#page-local-evokegame-report .small-box {
    border-radius: 4px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#page-local-evokegame-report .small-box > .inner {
    padding: 5px 10px;
}

#page-local-evokegame-report .small-box h3,
#page-local-evokegame-report .small-box p {
    z-index: 5;
    color: #fff;
}

#page-local-evokegame-report .small-box p {
    margin-bottom: 0;
}

#page-local-evokegame-report .small-box h3 {
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

#page-local-evokegame-report .small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 0;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.15);
}

#page-local-evokegame-report .chart-area .chart-image {
    height: auto;
    width: 100%;
}