<div class="text-right mb-3">
    <a href="#"
       class="btn btn-primary" data-action="create-badge-modal">
        <i class="fa fa-plus-circle"></i> {{#str}}createbadge, local_evokegame{{/str}}
    </a>
</div>

<table class="table table-bordered table-hover table-evokegame-badges">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, local_evokegame{{/str}}</th>
        <th scope="col">{{#str}}actions, local_evokegame{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#badges}}
        <tr>
            <th scope="row">{{{id}}}</th>
            <td>{{{name}}}</td>
            <td style="width: 160px; text-align: center;">
                <a href="{{{config.wwwroot}}}/local/evokegame/badgesettings.php?id={{id}}" data-id="{{id}}" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></a>
                <a href="#" data-id="{{id}}" data-name="{{name}}" data-courseid="{{courseid}}" data-badgeid="{{badgeid}}" class="btn btn-warning btn-sm edit-evokegame-badge">
                    <i class="fa fa-pencil-square-o text-white"></i>
                </a>
                <a href="#" data-id="{{id}}" class="btn btn-danger btn-sm delete-evokegame-badge"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    {{/badges}}
    </tbody>
</table>

{{#js}}
    require(['local_evokegame/createbadge', 'local_evokegame/editbadge', 'local_evokegame/deletebadge'], function(CreateBadge, EditBadge, DeleteBadge) {
        CreateBadge.init('[data-action=create-badge-modal]', {{{contextid}}}, {{{courseid}}});

        EditBadge.init({{{contextid}}});

        DeleteBadge.init();
    });
{{/js}}