<div class="evokegame">
    <div class="evokegame-scoreboard">
        <div class="awards">
            <div class="score">
                <div class="icon">
                    <img class="evocoin black" src="{{{config.wwwroot}}}/blocks/game/pix/evocoin.svg" alt="Evocoin">
                </div>
                <div class="points">{{{points}}}</div>
            </div>
            {{#hasbadges}}
                <div class="badges">
                    {{#badges}}
                        <img src="{{{badgeimage}}}" alt="{{{name}}}" class="evokebadge {{^awarded}}dimmed{{/awarded}}">
                    {{/badges}}
                </div>
            {{/hasbadges}}
            <div class="navigation">
                <a href="{{{config.wwwroot}}}/local/evokegame/scoreboard.php?id={{{courseid}}}" class="btn btn-primary"><i class="fa fa-trophy icon"></i> <span class="text">{{#str}}viewscoreboard, block_game{{/str}}</span></a>
            </div>
        </div>

        <div class="userinfo">
            <div class="username">
                Admin
            </div>
            <div class="userpicture" data-action="choose-avatar-modal">
                <img id="evokegame-user-avatar" class="img-fluid cursor-pointer" src="{{{useravatar}}}">
            </div>
        </div>
    </div>
</div>

{{#js}}
    require(['local_evokegame/chooseavatar'], function(ChooseAvatar) {
        ChooseAvatar.init('[data-action=choose-avatar-modal]', {{{contextid}}});
    });
{{/js}}