<div class="evokegame">
    <div class="evokegame-scoreboard">
        <div class="awards">
            <div class="score">
                <div class="icon">
                    <img class="evocoin black" src="{{{config.wwwroot}}}/blocks/game/pix/evocoin.svg" alt="Evocoin">
                </div>
                <div class="points">{{{points}}}</div>
            </div>
            {{#hasbadges}}
                <div class="badges">
                    {{#badges}}
                        <img src="{{{badgeimage}}}" alt="{{{name}}}" class="evokebadge {{^awarded}}dimmed{{/awarded}}">
                    {{/badges}}
                </div>
            {{/hasbadges}}
            <div class="navigation">
                <a href="{{{config.wwwroot}}}/local/evokegame/scoreboard.php?id={{{courseid}}}" class="btn btn-primary"><i class="fa fa-trophy icon"></i> <span class="text">{{#str}}viewscoreboard, block_game{{/str}}</span></a>
            </div>
        </div>

        <div class="userinfo">
            <div class="username">
                Admin
            </div>
            <div class="userpicture">
                <form action="http://localhost/evoke/blocks/game/set_avatar_form.php" method="get"><input name="id" type="hidden" value="2"><input name="avatar" type="hidden" value="0"> <input class="img-fluid" type="image" src="http://localhost/evoke/blocks/game/pix/a0.svg" "="" height="140" width="140"> </form>
            </div>
        </div>
    </div>
</div>