<div class="modal moodle-has-zindex evoke-game-notification-badge-modal {{#isachievement}}achievement-badge{{/isachievement}}" data-region="modal-container" aria-hidden="true" role="dialog">
    <div class="modal-dialog {{$classes}}{{classes}}{{/classes}}" role="document" data-region="modal" aria-labelledby="{{uniqid}}-modal-title" tabindex="0">
        <div class="modal-content">
            <div class="modal-header {{$headerclasses}}{{headerclasses}}{{/headerclasses}}" data-region="header">
                <h5 id="{{uniqid}}-modal-title" class="modal-title" data-region="title">
                    {{{title}}}
                </h5>
                <button type="button" class="btn-close" data-action="hide" aria-label="{{closetext}}"></button>
            </div>
            <div class="modal-body" data-region="body">
                <div class="modal-image">
                    <img src="{{badgeimage}}" alt="Badge" class="img-responsive border-radius">
                </div>

                <p class="mt-2">
                    {{{description}}}
                </p>

                <p>
                    <a class="btn {{#isachievement}}btn-dark{{/isachievement}}{{^isachievement}}btn-primary{{/isachievement}}" href="{{profileurl}}">
                        {{{buttontext}}}
                    </a>
                </p>
            </div>
            <div class="modal-footer" data-region="footer">
                {{$footer}}
                    {{{footer}}}
                {{/footer}}
            </div>
        </div>
    </div>
</div>
