<div class="mb-3 d-flex">
    <div>
        <a href="#" class="btn btn-secondary" data-action="deliver-skill-points">
            <i class="fa fa-user-plus"></i> {{#str}}skills_deliver, local_evokegame{{/str}}
        </a>
    </div>
    <div class="ml-auto">
        <a href="#"
           class="btn btn-primary" data-action="create-skill-modal">
            <i class="fa fa-plus-circle"></i> {{#str}}skills_create, local_evokegame{{/str}}
        </a>
    </div>
</div>

<table class="table table-bordered table-hover table-evokegame-skills">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, local_evokegame{{/str}}</th>
        <th scope="col" style="width: 120px; text-align: center;">{{#str}}actions, local_evokegame{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#skills}}
        <tr>
            <th scope="row">{{{id}}}</th>
            <td>{{{name}}}</td>
            <td style="width: 120px; text-align: center;">
                <a href="#" data-id="{{id}}" class="btn btn-danger btn-sm delete-evokegame-skill"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    {{/skills}}
    </tbody>
</table>

{{#js}}
    require(['local_evokegame/skill/create', 'local_evokegame/skill/delete', 'local_evokegame/skill/deliverpoints'], function(CreateSkill, DeleteSkill, DeliverPoints) {
        CreateSkill.init('[data-action=create-skill-modal]', {{{contextid}}}, {{{courseid}}}, {{{skillid}}});

        DeleteSkill.init();

        DeliverPoints.init('[data-action=deliver-skill-points]', {{{contextid}}}, {{{courseid}}});
    });
{{/js}}
