<div class="text-right mb-3">
    <a href="#"
       class="btn btn-primary" data-action="create-superpower-modal">
        <i class="fa fa-plus-circle"></i> {{#str}}createsuperpower, local_evokegame{{/str}}
    </a>
</div>

<table class="table table-bordered table-hover table-evokegame-superpowers">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, local_evokegame{{/str}}</th>
        <th scope="col">{{#str}}actions, local_evokegame{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#superpowers}}
        <tr>
            <th scope="row">{{{id}}}</th>
            <td>{{{name}}}</td>
            <td style="width: 120px; text-align: center;">
                <a href="#" data-id="{{id}}" data-name="{{name}}" data-portfolios="{{portfolios}}" class="btn btn-warning btn-sm edit-evokegame-superpower">
                    <i class="fa fa-pencil-square-o text-white"></i>
                </a>
                <a href="#" data-id="{{id}}" class="btn btn-danger btn-sm delete-evokegame-superpower"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    {{/superpowers}}
    </tbody>
</table>

{{#js}}
    require(['local_evokegame/createsuperpower', 'local_evokegame/editsuperpower', 'local_evokegame/deletesuperpower'], function(CreateSuperpower, EditSuperpower, DeleteSuperpower) {
        CreateSuperpower.init('[data-action=create-superpower-modal]', {{{contextid}}}, {{{courseid}}});

        EditSuperpower.init({{{contextid}}});

        DeleteSuperpower.init();
    });
{{/js}}